* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: burlywood;
  font-family: "Raleway", sans-serif;
}
nav {
  background: chocolate;
  width: 100%;
  overflow: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  float: left;
}
nav a {
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 20px 10px;
}
nav a:hover {
  background: whitesmoke;
  color: black;
}
.container {
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  background: #f2f2f2;
}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 390px;
}
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
}
.about {
  background: chocolate;
  height: 40px;
  width: auto;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: large;
}
.about-box {
  display: flex;
  height: 50vh;
}
.myimg {
  height: 40vh;
  width: 20vw;
  padding: 30px;
  border-radius: 50%;
}
.text {
  padding: 20px 60px;
  font-size: medium;
  align-content: center;
}
.contact {
  background: chocolate;
  height: 40px;
  width: auto;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: large;
}
.contact-box {
  align-items: center;
  padding: 30px 60px;
}
input {
  height: 8vh;
  width: 80vw;
  justify-content: center;
  padding: 20px;
}
#btn {
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin: 20px 0px;
  height: 8vh;
  width: 20vw;
}
#btn:hover {
  background: whitesmoke;
  color: black;
  cursor: pointer;
}
footer {
  background-color: chocolate;
  color: white;
  padding: 20px 40px;
}
